<html>
<head>
    <title>神孙权〖驭衡〗调节技能库注意事项</title>
</head>
<body>
    <p style='text-align:right;margin-right:20px;'><input type="button" name="close" value="关闭(按Alt+Esc可最小化本窗口)"
            onclick="window.close();" /></p>
    <font size='6'>
        <ul type="circle">
            <li>技能库解释</li>
        </ul>
    </font>
    <font size='5'>
        <ul>
            <li><b>旧库(测试服神孙权18个技能)</b><br>gzyinghun｜英魂、hongde｜弘德、olbingyi｜秉壹、xinfu_guanwei｜观微、bizheng｜弼政、xinanguo｜安国、shelie｜涉猎、wengua｜问卦、botu｜博图、rezhiheng｜制衡、jiexun｜诫训、old_anxu｜安恤、xiashu｜下书、jieyin｜结姻、dimeng｜缔盟、xinfu_guanchao｜观潮、drlt_jueyan｜决堰、lanjiang｜澜疆
            </li>
            <li><b>测试库A(某版本神孙权10个技能)</b><br>olbingyi｜秉壹、shenxing｜慎行、xiashu｜下书、rezhiheng｜制衡、old_anxu｜安恤、xinanguo｜安国、dimeng｜缔盟、lanjiang｜澜疆、xinfu_guanwei｜观微、xindiaodu｜调度
            </li>
            <li><b>测试库B(某版本神孙权15个技能)</b><br>olbingyi｜秉壹、shenxing｜慎行、xiashu｜下书、rezhiheng｜制衡、old_anxu｜安恤、xinanguo｜安国、dimeng｜缔盟、lanjiang｜澜疆、xinfu_guanwei｜观微、xindiaodu｜调度、bizheng｜弼政、xinfu_xunxian｜逊贤(本体没旧逊贤了,正好新逊贤能当个小应援用用就放着吧)、hongde｜弘德、xingxue｜兴学、jiexun｜诫训
            </li>
            <li><b>新库(正式服最新版神孙权15个技能)</b><br>olbingyi｜秉壹、shenxing｜慎行、xiashu｜下书、rezhiheng｜制衡、old_anxu｜安恤、xinanguo｜安国、dimeng｜缔盟、lanjiang｜澜疆、xinfu_guanwei｜观微、xindiaodu｜调度、bizheng｜弼政、xinfu_youdi｜诱敌、olhongyuan｜弘援、xingxue｜兴学、jiexun｜诫训
            </li>
            <li><b>摧林甄选库A(为扩展作者摧林配置的技能库)</b><br>olbingyi｜秉壹、shelie｜涉猎、oljiang｜激昂、rezhiheng｜制衡、wengua｜问卦、xinanguo｜安国、rebotu｜博图、lanjiang｜澜疆、xinfu_guanwei｜观微、zongxuan｜纵玄、qyhc_bizheng｜弼政、xinfu_youdi｜诱敌、yingzi｜英姿、qyhc_xingxue｜兴学、qyhc_tongye｜统业
            </li>
            <li><b>摧林甄选库B(为本扩展有神孙权专属配音的技能)</b><br>reanguo｜安国、reanxu｜安恤、olbingyi｜秉壹、qyhc_bizheng｜弼政、rebotu｜博图、xindiaodu｜调度、oldimeng｜缔盟、xinfu_guanchao｜观潮、xinfu_guanwei｜观微、hongde｜弘德、olhongyuan｜弘援、jiexun｜诫训、rejieyin｜结姻、qyhc_jueyan｜决堰、lanjiang｜澜疆、shelie｜涉猎、shenxing｜慎行、wengua｜问卦、xiashu｜下书、xinfu_xunxian｜逊贤、qyhc_xingxue｜兴学、gzyinghun｜英魂、xinfu_youdi｜诱敌、rezhiheng｜制衡、yingzi｜英姿、qyhc_tongye｜统业、oljiang｜激昂、zongxuan｜纵玄、nzry_cuike｜摧克、kuangbi｜匡弼
            </li>
            <li><b>江表十二库</b><br>tongli｜同礼、luochong｜落宠、xingchong｜幸宠、refenyin｜奋音、syjiqiao｜激峭、drlt_jieying｜劫营、repojun｜破军、rebotu｜博图、decadexuanfeng｜旋风、lkbushi｜卜筮、shenzhu｜神著、qinzheng｜勤政
            </li>
            <li><b>精吴库</b><br>lib.character中所有开启的吴势力角色武将牌上的技能,觉醒技、限定技、隐匿技、主公技、使命技、部分负面技、部分combo技(即完全需要靠其他技能联动才能发挥效果的技能)、描述中带有游戏开始时的技能、带有牌记的技能除外
            </li>
            <li><b>吴库</b><br>lib.character中所有开启的吴势力角色武将牌上的技能</li>
            <li><b>全精库</b><br>lib.character中所有开启的非神孙权角色武将牌上的技能,觉醒技、限定技、隐匿技、使命技、主公技、部分负面技、部分combo技、描述中带有游戏开始时的技能、带有牌记的技能除外
            </li>
            <li><b>全库</b><br>lib.character中所有开启的非神孙权角色武将牌上的技能</li>
            <li><b>钟琰出牌库</b><br>qingnang|青囊、lijian|离间、quhu|驱虎、tianyi|天义、lihun|离魂、qiangwu|枪舞、gongxin|攻心、remingce|明策、reqice|奇策、mizhao|密诏、reguose|国色、rezhiheng|制衡、rejieyin|结姻、oltiaoxin|挑衅、sanchen|三陈、chulao|除疠、daoshu|盗书、rejunxing|峻刑、dccuichuan|榱椽、clgd_jianying|渐营
            </li>
            <li><b>钟琰卖血库</b><br>reyiji|遗计、oljieming|节命、refangzhu|放逐、huituo|恢拓、zhichi|智迟、dcpeiqi|配器、rejianxiong|奸雄、reganglie|刚烈、yachai|崖柴、qianlong|潜龙、dcsilun|四论、juexiang_ji|激弦、yuce|御策、polu|破橹、refankui|反馈、rejiushi|酒诗、rezhiyu|智愚、rechengxiang|称象、benyu|贲育、olshilu|失路
            </li>
        </ul>
    </font>
    <font size='6'>
        <ul type="circle">
            <li>操作说明</li>
        </ul>
    </font>
    <ul>
        <font size='5'>
            <li><b>关于添加/删除系统库</b><br>点击后输入一个数字(1、2、3、4、5、6、7,分别对应旧库、新库、江表十二库、测试库A、测试库B、摧林甄选库A、摧林甄选库B),该数字对应一个技能库,若技能库中有该库中的至少一个技能,则删除这些技能,否则添加该库中的所有技能
            </li>
            <li><b>关于添加/删除自定义技能</b><br>输入技能后若技能库中有对应的技能,则删除此技能,否则若lib.skill中有此技能,则添加此技能.另外的,若输入中文名,会给出序号选择</li>
            <li><b>关于神孙权技能库编码</b><br>神孙权技能库编码,指技能库里的所有技能的英文用<,>隔开后排成一列后的样子,单个技能就直接输入即可.<font color=#FF0000>
                        另注意此处的,是半角逗号,不是全角逗号,</font>.例如:旧库:<span
                        style="word-wrap:break-word;">gzyinghun,hongde,olbingyi,xinfu_guanwei,bizheng,xinanguo,shelie,wengua,boturezhiheng,jiexun,old_anxu,xiashu,jieyin,dimeng,xinfu_guanchao,drlt_jueyan,lanjiang</span><br>※另外地,查看到的技能库的下方会有技能库编码</b>
            </li>
            <li><b>关于使用编码调节技能库</b><br>输入神孙权技能库编码,将技能库改为该编码所表示的技能库</li>
        </font>
    </ul>
</body>
</html>