<html>
<head>
    <title>群英荟萃乀摧林扩展主要更新&维护日志</title>
</head>
<body>
    <p style='text-align:right;margin-right:20px;'><input type="button" name="close" value="关闭(按Alt+Esc可最小化本窗口)"
            onclick="window.close();" /></p>
    <h2>
        <ul>
            <li>2023.08.22——V1.07</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>维护案:适配1.9.125版本体</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.08.28——V1.08</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>维护案:适配1.9.125.1版本体</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.09.29——V1.1</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>维护案:适配1.10.1.0.1版本体</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.09.29——V1.12</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>维护案:适配1.10.3版本体</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.11.02——V1.13</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>维护案:勉强适配1.10.4版本体</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2024.01.29——V1.14</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>维护案:适配1.10.6版本体</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2022.12.09——V测0.1</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>群英荟萃乀摧林扩展测试版本发布</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2022.12.10——V测0.13</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>优化功能<删除扩展>
            </li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2022.12.11——V测0.16</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>新增武将裴秀(手杀魔改)</li>
            <li>通过特殊手段修复〖谦节〗会被系统ban掉的部分</li>
            <li>优化沮授〖渐营〗荀谌〖卑势〗辛评〖辅袁〗技能机制</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2022.12.16——V测0.2</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>优化裴秀AI</li>
            <li>新增武将许劭(自设)</li>
            <li>优化裴秀〖爵制〗赵咨〖破立〗〖威对〗薛综〖复难〗〖诫训〗技能机制</li>
            <li>修复陆抗〖筑围〗可能引起游戏崩溃的部分</li>
            <li>美化选项栏</li>
            <li>添加翻译功能(测试功能,未完善)</li>
            <li>添加虚假的菜单折叠功能(预计下N次更新完善此功能)</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2022.12.23——V测0.22</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>完善菜单折叠功能、翻译功能</li>
            <li>新增武将神孙权(可自定义技能库,暂时未写AI代码)</li>
            <li>修复赵咨〖破立〗BUG</li>
            <li>优化赵咨〖威对〗结算速度</li>
            <li>优化许劭〖月旦〗阴阳显示</li>
            <li>修复或优化【酗酒】、辛评〖辅袁〗、【连弩】的AI代码</li>
            <li>新增卡牌引文功能</li>
            <li>修改【酗酒】略削官渡牌堆的暴力性</li>
            <li>新增查看更新日志功能</li>
            <li>修复&lt;center&gt;配对混乱的问题</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.01.02——V测0.27</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>解决自定义〖驭衡〗技能库辅助描述不清晰的问题</li>
            <li>增加部分卡牌引文</li>
            <li>优化删除扩展功能,美化删除界面</li>
            <li>将部分说明合并至<用前须知>
            </li>
            <li>新增<开发人员工具>功能,部分功能须密码使用,若您无法破解密码,不建议您使用密码上锁的功能</li>
            <li>优化部分套牌堆的结构</li>
            <li>美化选项界面,使用了新样式</li>
            <li>进一步精化神孙权精库,新增<江表十二库>
            </li>
            <li>修复吴苋〖移荣〗〖贵相〗结算问题</li>
            <li>新增武将诸葛亮(标改)、贾诩(SP改)</li>
            <li>新增牌堆:摧林-忠胆</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.01.19——V测0.3</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>修复贾诩〖间书〗BUG</li>
            <li>修复logSkill可能引起的技能触发混乱问题,将部分logSkill改为line</li>
            <li>新增木牛流马配音</li>
            <li>删除部分引起空对象的逗号</li>
            <li>新增活动场——十殿阎罗(自制,目前仅测试)</li>
            <li>修改许劭〖评荐〗结算逻辑以适应新版本</li>
            <li>翻新陆抗〖谦节〗结算逻辑</li>
            <li>新增一控N功能、展示牌补丁</li>
            <li>神孙权技能库调改</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.01.31——V测0.34</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>修复【照骨镜】贾诩〖拥嫡〗BUG以及陈琳没有配音的问题</li>
            <li>优化贾诩〖拥嫡〗机制,调整赵咨〖威对〗〖破立〗描述</li>
            <li>新增内奸同阵营模块(测试用)</li>
            <li>十殿阎罗活动场新增模块地府保卫战</li>
            <li>调整【金蝉脱壳】卡牌机制</li>
            <li>新增辅助标记优化、十殿阎罗武将可手动任意使用功能</li>
            <li>美化删除扩展功能</li>
            <li>使用了函数来表示<每X限一次>的标记</li>
            <li>新增武将蒋琬、十殿阎罗新增牛头马面、修改十殿阎罗鸟嘴技能</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.02.02——V测0.37</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>解决安卓根本无法使用的问题</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.02.03——V测0.38</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>修改许劭〖评荐〗的分配牌机制、完全修改薛综〖复难〗的技能发动模式和发动效果</li>
            <li>修复陆抗〖筑围〗裴秀〖爵制〗导致游戏报错的问题</li>
            <li>修复removeSkillLog被本体弃用后本扩展出现的问题</li>
            <li>许劭新增字体排版设置和加减乘除位置设置</li>
            <li>修复skill函数可能检测不出enable的问题</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.02.06——V测0.4</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>直接将安卓的弹出窗口功能改为log(安卓弹窗口太不方便了,就改为game.log了,一局游戏的进行过程中用对应的功能暂停游戏就能看到了)</li>
            <li>修复【兵粮寸断】【乐不思蜀】结算与描述不符的问题</li>
            <li>修复非身份场AI态度问题</li>
            <li>新增武将邓艾(OL+手杀合并再微调版,帮您解决不动白+♥️️邓的烦恼)</li>
            <li>十殿阎罗活动场新增测试模块静虑深密</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.02.14——V测0.43</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>可自由调配扩展网页链接打开方式</li>
            <li>重置辛评〖辅袁〗赵咨〖破立〗〖威对〗荀谌〖三恇〗的技能写法</li>
            <li>修复creatMark函数的BUG</li>
            <li>补充用前须知</li>
            <li>新增delay补丁、司马昭补丁、许攸补丁和转换技补丁,新增调整屏幕缩放功能</li>
            <li>新增活动场武将五官王、豹尾</li>
            <li>新增武将孙邵</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.02.15——V测0.44</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>重置部分古早技术不成熟所写的代码</li>
            <li>修复由错误指针引起的部分BUG</li>
            <li>修复诸葛亮〖空城〗与新版本不兼容的问题</li>
            <li>修复部分配音问题</li>
            <li>新增活动场武将都市王</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.02.23——V测0.47</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>使用logTarget优化部分代码</li>
            <li>新增活动场武将宋帝王、卞城王,调整楚江王、鱼鳃、豹尾技能</li>
            <li>重改观微扩展牌堆,原牌堆已重命名为军争补充包,新观微预计下次更新上线</li>
            <li>官渡牌堆增加四种延时锦囊【围师遗阙】、【兵粮寸断】、【浮雷】和【故步自封】,并加强浮光凯</li>
            <li>打同时弃牌补丁并删除一些无必要补丁,且更兼容其他扩展</li>
            <li>修复【兵粮寸断】、孙邵〖弼政〗BUG</li>
            <li>调整神孙权技能库设置方式</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.02.26——V测0.5</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>新增之处:神孙权技能库摧林甄选库A、B;摸牌补丁自由开关;防易冲突功能模块;武将孙权</li>
            <li>移除之处:观看手牌显示、隐藏的晋司马懿补丁</li>
            <li>修改之处:神孙权〖圣质〗将无次数限制改为无视次数限制、将手牌可见更加符合官方逻辑</li>
            <li>修复BUG之处:修改的摸牌阶段摸牌数、轮次补丁、孟婆〖拾忧〗、改·司马昭〖筹伐〗、神孙权〖驭衡〗〖帝力〗</li>
            <li>AI优化:【戮力同心】【调虎离山】</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.03.04——V测0.54</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>新增之处:手牌上限显示补丁、详细信息补丁、活动场平等王、观微牌堆</li>
            <li>移除之处:无</li>
            <li>优化之处:优化部分描述、刘徽、许劭、孟婆〖往事〗、武将替换、防止阶段跳过、次数限制</li>
            <li>修复BUG之处:【浮雷】描述错误、神孙权〖驭衡〗</li>
            <li>AI优化:邓艾〖屯田〗【火烧连营】【铁索连环】【照骨镜】</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.03.08——V测0.57</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>新增之处:creatMark新增部分功能</li>
            <li>移调之处:部分无用事件</li>
            <li>优化之处:窗口问题、手牌上限显示、陆抗〖决堰〗陈琳〖颂词〗赵咨〖威对〗〖破立〗贾诩〖缜略〗吴苋〖移荣〗〖贵相〗〖穆荫〗蒋琬〖镇庭〗</li>
            <li>修复BUG之处:兵乐废牌(延时锦囊函数参数错误)、扩展卡牌强制使用、【继往开来】、陆抗〖筑围〗</li>
            <li>AI优化:【继往开来】【决斗】</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.03.10——V测0.58</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>新增之处:新武将许靖、活动场转轮王、魑魅魍魉、斗地主优化方案、引入css:redtext、blacktext、promptext、lefttext、Optext、OPtext、Pstextxingkai1、Pstextyuanli1、Pstextxinwei1、Pstextshousha1、Pstextyuanli2、Pstextxingkai2、Pstextxinwei2、Pstextshousha2
            </li>
            <li>移调之处:加强浮光凯、夜行衣调改</li>
            <li>优化之处:薛综〖诫训〗荀谌〖蹈节〗陈琳〖颂词〗沮授〖渐营〗〖矢北〗裴秀〖行图〗许劭〖评荐〗蒋琬〖尽瘁〗五官王〖治妄〗神孙权〖权道〗〖驭衡〗赵咨〖威对〗辛评〖辅袁〗吴苋〖移荣〗</li>
            <li>修复BUG之处:辛评〖辅袁〗、展示牌、神孙权〖驭衡〗配音错误</li>
            <li>AI优化:【继往开来】</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.03.15——V测0.6</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>新增之处:本体描述优化、本体结算优化</li>
            <li>移调之处:许靖加强</li>
            <li>优化之处:button按钮、体力&体力值、当前阶段&当前回合角色、秦广王&楚江王&宋帝王&五官王&卞城王专精修复</li>
            <li>修复BUG之处:许靖〖荐实〗、creatMark函数、手牌上限显示修正</li>
            <li>AI优化:【调虎离山】</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.03.22——V测0.66</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>将部分game.players改为game.filterPlayer()</li>
            <li>泰山王&平等王&都市王&转轮王&地藏王&孟婆专精修复、新增活动场武将</li>
            <li>神孙权配音优化</li>
            <li>调整扩展文件结构;重整阵亡配音</li>
            <li>【围师遗阙】【故步自封】调整</li>
            <li>新增挪用皮肤功能(目前仅电脑端可用)、重整美化资源</li>
            <li>修复一些BUG、调整部分补丁、新增部分内容</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.04.01——V测0.71</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>同时失去牌优化、<上一张牌>优化、手牌上限优化、重复执行优化</li>
            <li>挪用皮肤资源功能可独立关闭</li>
            <li>调整解卡功能和斗地主微调功能,新增谋马超加强功能</li>
            <li>优化裴秀〖行图〗〖爵制〗显示</li>
            <li>调整五官王、【瞒天过海】,新增武将蔡琰,活动场武将牛头马面、黄蜂</li>
            <li>调整观微牌堆牌堆结构,使其更有游戏性</li>
            <li>AI优化大规模剪枝</li>
            <li>修复一些BUG、调整部分补丁、新增部分内容</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.04.04——V测0.73</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>更改部分过时代码</li>
            <li>护冰镜加强</li>
            <li>优化部分没十周年UI就不堪入目的美化</li>
            <li>新增原画路径选择功能</li>
            <li>新增活动场武将阎罗王,十殿阎罗乀摧林模式初步完结</li>
            <li>修复一些BUG、调整部分补丁、新增部分内容</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.04.07——V测0.74</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>海外贾充可适用加强功能</li>
            <li>修复一些BUG、调整部分补丁、新增部分内容</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.04.14——V测0.75</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>OL陈登、OL界祝融、樊稠、谋姜维适用加强功能</li>
            <li>修复一些BUG、调整部分内容、优化部分AI</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.04.17——V测0.76</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>分裂extension,部分功能移入新的js文件</li>
            <li>修改忠胆牌堆,使其更具有游戏性</li>
            <li>消除部分卡顿因子,优化代码写法</li>
            <li>修复一些BUG、调整部分内容、优化部分AI</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.04.22——V测0.78</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>优化薛综〖复难〗〖诫训〗</li>
            <li>继续修改忠胆、观微、官渡牌堆,使它们更具有游戏性</li>
            <li>消除部分卡顿因子,优化代码写法</li>
            <li>修复一些BUG、调整部分内容、优化部分AI</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.04.30——V测0.85</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>新增剑阁修改功能</li>
            <li>活动场新增武将鬼王</li>
            <li>修复一些BUG、优化部分代码写法、优化部分AI</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.05.02——V测0.86</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>初步完善剑阁修改功能</li>
            <li>修复一些BUG、优化部分代码写法、优化部分AI</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.05.10——V测0.89</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>修改选项界面,新增扩展命令输入功能</li>
            <li>斗地主微改新增OL版斗地主</li>
            <li>剑阁修改功能优化</li>
            <li>新增OL斗地主牌堆</li>
            <li>修复一些BUG、优化部分代码写法、优化部分AI</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.05.21——V测0.93</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>修改观微牌堆,使之更具有游戏性</li>
            <li>修改设变牌堆,使之更具有游戏性</li>
            <li>加入部分武将称号和武将介绍</li>
            <li>新增势力优化功能</li>
            <li>新增孙休(十周年界)、谋法正、神荀彧、荀粲、吴班(族)、毛玠调整功能</li>
            <li>将吴苋(族)、孙邵(OL)、刘徽、邓艾(OL界)、辛评移除出武将列表,改为加入武将补丁和武将加强补丁内</li>
            <li>剑阁新增吴下阿蒙、守池潜蛟</li>
            <li>剑阁新增事件功能</li>
            <li>纠正部分错误描述</li>
            <li>修复一些BUG、优化部分代码写法、优化部分AI</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.05.23——V测0.94</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>郭槐适用扩展调整功能</li>
            <li>完善设变牌堆</li>
            <li>优化游戏速度,大规模剪枝</li>
            <li>剑阁新增驭火伯言、固域貔貅、事件势如破竹,天候孔明〖奇阵〗技能调整</li>
            <li>纠正部分错误描述、修复一些BUG、优化部分代码写法、优化部分AI、美化部分标记</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.06.12——V测0.95</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>翻新部分旧技能写法</li>
            <li>修改设变、官渡和忠胆牌堆:衠钢槊、飞龙夺凤削弱;增兵减灶、声东击西、霹雳车加强;部分牌堆加入冷艳锯</li>
            <li>界陆逊适用扩展调整功能</li>
            <li>修改部分补丁功能</li>
            <li>优化游戏速度,大规模剪枝</li>
            <li>剑阁新增驭火伯言、固域貔貅、事件势如破竹,天候孔明〖奇阵〗技能调整</li>
            <li>纠正部分错误描述、修复一些BUG、优化部分代码写法、优化部分AI、美化部分标记</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.06.17——V测0.96</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>修复赵咨〖威对〗五官王〖治妄〗BUG</li>
            <li>修复开启扩展后背面朝上交的牌也正面朝上交的BUG</li>
            <li>新增武将封谞</li>
            <li>修改观微牌堆:调整牌堆结构、修改树上开花、瞒天过海</li>
            <li>诸葛果适用扩展调整功能</li>
            <li>继续完善称号功能</li>
            <li>剑阁新增暴虎伯符,守池潜蛟〖腾踔〗调整</li>
            <li>纠正部分错误描述、修复一些BUG、优化部分代码写法、优化部分AI、美化部分标记</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.06.22——V测0.97</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>新增争渡牌堆,夜行衣调整</li>
            <li>将部分相似代码改用循环执行</li>
            <li>完善所有扩展内有提到的卡牌的引文</li>
            <li>纠正部分错误描述、修复一些BUG、优化部分代码写法、优化部分AI、美化部分标记</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.06.30——V测0.99</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>调整部分函数存储方式</li>
            <li>纠正转换技阴阳顺序错误、【木牛流马】数量错误</li>
            <li>移除端午彩蛋、【粽】【树上开花】回调</li>
            <li>王基适用加强功能</li>
            <li>剑阁新增折冲兴霸,新事件百鬼夜行</li>
            <li>纠正部分错误描述、修复一些BUG、优化部分代码写法、优化部分AI、美化部分标记</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.07.06——V1.0</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>新增自动选择&全选功能</li>
            <li>修复开启扩展后无法正常使用起许劭、起南华老仙〖灵化〗可能失效的BUG</li>
            <li>修复锁链甲、明光铠可能不会被无视的BUG</li>
            <li>新增轮次技/谋弈技美化功能</li>
            <li>神孙权部分注释描述隐藏</li>
            <li>合并10个关于lose和gain的globalSkil为3个,合并qyhcLose和qyhcGain为qyhcLoseGain</li>
            <li>纠正部分错误描述、修复一些BUG、优化部分代码写法、优化部分AI、美化部分标记</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.07.12——V1.02</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>修复加载时返回错误返回值以至游戏弹出报错窗的BUG</li>
            <li>优化全选功能</li>
            <li>新增人机刷卡功能,合并斗地主与其他模式的手气卡content</li>
            <li>合并显示次数限制模块creatTrigger至finishSkill</li>
            <li>修复【逆水行舟】BUG</li>
            <li>部分功能新增判断以减少冲突</li>
            <li>纠正部分错误描述、修复一些其他BUG、优化部分代码写法、优化部分AI、美化部分标记</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.07.20——V1.04</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>将部分技能代码中的函数改为本体自带函数</li>
            <li>族韩融、族韩韶适用加强功能</li>
            <li>调整扩展牌堆的【银月枪】、【金蝉脱壳】和【逆水行舟】</li>
            <li>纠正部分错误描述、修复一些其他BUG、优化部分代码写法、优化部分AI、美化部分标记</li>
        </ul>
    </h3>
    <h2>
        <ul>
            <li>2023.08.01——V1.05</li>
        </ul>
    </h2>
    <h3>
        <ul type="circle">
            <li>隐藏部分设置至扩展命令运行</li>
            <li>废弃关闭扩展不能再使用扩展的思路</li>
            <li>扩展武将包名称改为江海陆沉</li>
            <li>纠正部分错误描述、修复大量BUG、优化部分代码写法、优化部分AI、美化部分标记、补充部分本体美化和称号</li>
        </ul>
    </h3>
</body>
</html>