/* 角色头像放大 */
/*
.player:not([data-position="0"]).fullskin {
	transform: scale(1.3);
}
*/
/* 角色头像拉长 */
.player:not(.minskin):not(*[data-position="0"]) {
	width: 150px !important;
	height: 250px !important;
}
/* 角色头像图片拉长 */
.player:not(.minskin):not(*[data-position="0"]):not(.fakeme) .avatar {
	width: calc(100% - 10px) !important;
	height: calc(100% - 10px) !important;
	background-position: 50% !important;
}
/* 玩家头像图片拉长 */
#arena:not(.chess) .player[data-position="0"]:not(.minskin)>.avatar {
	width: 135px !important;
	height: 250px !important;
	top: calc(100% - 250px) !important;
}
/* 角色手牌数右移 */
.player:not([data-position="0"]) .count {
	line-height: 10px !important;
	height: 10px !important;
	width: 10px !important;
	transform: scale(3);
	bottom: 40px !important;
	left: 160px !important;
	z-index: 999 !important;
	text-align: center !important;
	display: grid;
	place-items: center;
}
/* 历史记录 */
#arena.mobile>#arenalog[data-position="left"] {
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	opacity: 0.8;
}