.xjzh-runePack {
    top: 8%;
    left: 12%;
    height: 60%;
    width: 50%;
    overflow: auto;
    background: #fff;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(./images/runes/backgroundImage.png);
}