@font-face {
    font-family: biaokaiti;
    src: url(../../font/font_biaokaiti.woff2);
}
@font-face {
    font-family: fangsong;
    src: url(../../font/font_zihun36fangsong.woff2);
}
@font-face {
    font-family: qingke;
    src: url(../../font/font_fzqingkebenyue.woff2);
}
@font-face {
    font-family: zhuangjia;
    src: url(../../font/font_zhuangjia.woff2);
}
@font-face {
    font-family: fzlb;
    src: url(../../font/font_fzlb.woff2);
}
@font-face {
    font-family: runbian;
    src: url(../../font/font_fzrunbian.woff2);
}
@font-face {
    font-family: momo;
    src: url(../../font/font_momolaowushouji.woff2);
}
@keyframes chuifu {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes chuifu1 {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
html,
body {
    width: 100%;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv div {
    display: block;
    position: static;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_layerping {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.842);
    top: 0;
    left: 0;
    background-size: cover;
}
.juese_CSS_DaYuHaiTang .leftbg {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transform-origin: left bottom;
    transform: translateX(-50%);
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv {
    /* width:2560px;
  height:1440px;
  background-size:cover;
  position:absolute;
  left:0;
  top:0;
  transform-origin: 0 0;
  overflow: hidden;
  display:block; */
    width: 2560px;
    height: 1440px;
    background-size: cover;
    position: absolute;
    left: 48%;
    top: 50%;
    transform-origin: 0 0;
    /* overflow-y: hidden; */
    display: block;
    transform-origin: center;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv_backbtn {
    position: absolute;
    width: 374px;
    height: 374px;
    cursor: pointer;
    left: 0;
    top: 0;
    z-index: 2;
    background: url(../juese_DaYuHaiTang/jy_back.png);
    background-size: cover;
    transform-origin: left top;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv_backbtn:hover {
    background-image: url(../juese_DaYuHaiTang/jy_back_click.png);
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_jueseshadowdiv {
    position: absolute;
    width: 1400px;
    background-image: url(../juese_DaYuHaiTang/jy_label.png);
    height: 40px;
    top: 0px;
    right: -1240px;
    z-index: -5;
    background-size: cover;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_guajiandiv {
    position: absolute;
    width: 1300px;
    background-image: url(../juese_DaYuHaiTang/jy_guajian.png);
    height: 250px;
    bottom: 120px;
    right: -1680px;
    z-index: 3;
    background-size: cover;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesediv {
    width: 1300px;
    height: 1410px;
    position: absolute;
    bottom: 0;
    left: -20px;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juesebgdiv {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100px;
    left: 0;
    z-index: 3;
    background-image: url(../juese_DaYuHaiTang/group_jy_ming.png);
    background-size: cover;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juesebgdiv1 {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juesedivimg {
    top: 118px;
    left: 115px;
    width: 884px;
    height: 1170px;
    position: absolute;
    /* background-image:url(../juese_DaYuHaiTang/yttl_xinran.jpg); */
    background-size: cover;
    z-index: 2;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juesedivimg.lutou {
    background-position-x: center;
    height: 1250px;
    top: 35px;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_level {
    position: absolute;
    top: 110px;
    right: 90px;
    z-index: 25;
    width: 240px;
    transform-origin: top center;
    animation: chuifu1 3s linear 1s infinite alternate;
    -webkit-animation: chuifu1 3s linear 1s infinite alternate;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_designinfo {
    color: #8f2711;
    font-family: fzlb;
    font-size: 28px;
    position: absolute;
    top: 10px;
    letter-spacing: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100px;
    overflow: hidden;
    text-shadow: none;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_designinfo:nth-child(1) {
    left: 1320px;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_designinfo:nth-child(2) {
    left: 1645px;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_designinfo:nth-child(3) {
    left: 1965px;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_designinfo:nth-child(4) {
    left: 2295px;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_heroname {
    writing-mode: vertical-lr;
    color: #f1e3b4;
    /* border: 1px solid; */
    font-family: runbian;
    font-size: 65px;
    position: absolute;
    top: 320px;
    left: 24px;
    color: #ae3c40;
    letter-spacing: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 300px;
    overflow: hidden;
    /* font-weight: bold;*/
    text-align: top;
    /* text-align: justify;
    text-align-last: justify; */
    /*text-shadow: 1px 1px 8px #f0f0f0, 1px 1px 8px #f0f0f0, 1px 1px 8px #f0f0f0;*/
    text-shadow: 1px 2px 5px rgb(209, 237, 255);
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_blood {
    display: block;
    width: 80px;
    position: absolute;
    top: 765px;
    left: 15px;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesecont {
    width: 1500px;
    height: 1142px;
    position: absolute;
    top: 100px;
    left: 1040px;
    background-image: url(../juese_DaYuHaiTang/jy_introbox.png);
    background-size: cover;
    box-sizing: border-box;
    /*padding:80px 120px;*/
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 90px;
    padding-bottom: 26px;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesecont .jyqxz_juesecont_itemdiv {
    display: none;
    width: 100%;
    height: 100%;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juesecont .jyqxz_juesecont_itemdiv.active {
    display: block;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skillname {
    float: left;
    /* width: 372px; */
    min-width: 372px;
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    left: 50px;
    /* height: 127px; */
    letter-spacing: 20px;
    max-width: 900px;
    /* line-height: 119px; */
    /* min-height: 127px; */
    text-align: center;
    background-image: url(../juese_DaYuHaiTang/jy_skillbutton.png);
    font-family: runbian;
    font-size: 58px;
    /*font-weight: bold;*/
    color: #a14f4c;
    box-sizing: border-box;
    /* padding-left: 10px; */
    background-size: 100% 100%;
    text-shadow: none;
    /*text-shadow: 1px 1px 15px #fff4da, 1px 1px 15px #fff4da, 1px 1px 15px #fff4da;*/
    text-justify: inter-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_taiciname {
    float: left;
    width: 372px;
    height: 127px;
    letter-spacing: 12px;
    line-height: 119px;
    text-align: center;
    background-image: url(../juese_DaYuHaiTang/jy_taicibutton.png);
    background-size: cover;
    font-family: runbian;
    font-size: 65px;
    /*font-weight: bold;*/
    color: #cce2d1;
    box-sizing: border-box;
    padding-left: 10px;
    text-shadow: none;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skill {
    overflow: hidden;
    padding: 10px 0;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skillaudio {
    float: right;
    width: 169px;
    height: 127px;
    background-image: url(../juese_DaYuHaiTang/jy_audiobutton.png);
    background-size: cover;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skillaudio:hover {
    background-image: url(../juese_DaYuHaiTang/jy_audiobutton_click.png);
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skillcont {
    clear: both;
    padding: 10px;
    padding-right: 10px;
    left: 20px;
    text-indent: 2em;
    line-height: 1.1;
    font-family: biaokaiti;
    font-size: 55px;
    color: #7e1f0b;
    text-shadow: none;
    /*text-justify: inter-word;*/
    text-align: justify;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
/*觉醒技技能描述属性*/
.juese_CSS_DaYuHaiTang .jyqxz_juese_skillcont p {
    clear: both;
    padding: 10px;
    padding-right: 10px;
    text-indent: 2em;
    line-height: 1.1;
    font-family: fangsong;
    font-size: 56px;
    color: #7e1f0b;
    text-shadow: none;
    text-align: justify;
    /*text-justify: inter-word;*/
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skilltaici {
    clear: both;
    padding: 10px;
    padding-right: 10px;
    line-height: 1.3;
    font-family: biaokaiti;
    font-size: 55px;
    color: #aa3f28;
    text-shadow: none;
    text-align: justify;
    /*text-justify: inter-word;*/
    -webkit-user-select: text;
    6 -moz-user-select: text;
    user-select: text;
}
.juese_CSS_DaYuHaiTang .gonglue {
    clear: both;
    padding: 10px;
    padding-right: 10px;
    line-height: 1.1;
    font-family: qingke;
    font-size: 50px;
    color: #a1351e;
    text-shadow: none;
    /*text-justify: inter-word;*/
    text-align: justify;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
.juese_CSS_DaYuHaiTang .gushi {
    clear: both;
    padding: 10px;
    padding-right: 10px;
    line-height: 1.1;
    font-family: biaokaiti;
    font-size: 50px;
    color: #a1351e;
    text-shadow: none;
    text-align: justify;
    /*text-justify: inter-word;*/
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_right_navsp {
    transform-origin: right top;
    transform: scale(0.36875);
    position: absolute;
    right: 0;
    top: 0;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_right_navs {
    position: absolute;
    right: 130px;
    top: 0;
    width: 216px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 100px;
    transform-origin: top center;
    /*
  animation: chuifu 3s linear 1s infinite alternate;
  -webkit-animation: chuifu 3s linear 1s infinite alternate;
  */
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_right_nav_item {
    position: relative;
    cursor: pointer;
    display: block;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_right_nav_item_footer {
    position: relative;
    display: block;
    left: 34px;
}
.juese_CSS_DaYuHaiTang .jyqxz_right_nav_bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    transform-origin: right top;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juese_btns {
    display: block;
    position: absolute;
    width: 1240px;
    bottom: 10px;
    left: 1100px;
    text-align: center;
    font-size: 8;
    z-index: 5;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juese_btns .jyqxz_juese_btn {
    display: inline-block;
    cursor: pointer;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skins_div {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.801);
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skins {
    width: 2421px;
    height: 1122px;
    background-image: url(../juese_DaYuHaiTang/jy_skinbox.png);
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 4;
    transform-origin: center center;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skin_leftbtn {
    display: block;
    width: 154px;
    height: 169px;
    position: absolute;
    background-image: url(../juese_DaYuHaiTang/jy_left.png);
    top: 510px;
    left: 128px;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skin_leftbtn:hover {
    background-image: url(../juese_DaYuHaiTang/jy_left_click.png);
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skin_rightbtn {
    display: block;
    width: 154px;
    height: 169px;
    position: absolute;
    background-image: url(../juese_DaYuHaiTang/jy_right.png);
    top: 510px;
    right: 108px;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skin_rightbtn:hover {
    background-image: url(../juese_DaYuHaiTang/jy_right_click.png);
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skins_showbox {
    position: absolute;
    top: 238px;
    left: 270px;
    width: 1896px;
    height: 733px;
    display: block;
    overflow-x: scroll;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skinsbox {
    position: relative;
    display: block;
    /* left:0;
  top:0;
  transition: left 1s; */
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skinbox {
    width: 474px;
    height: 733px;
    float: left;
    overflow: hidden;
    position: relative;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skin {
    width: 405px;
    height: 545px;
    background-size: cover;
    display: block;
    position: relative;
    left: 37px;
    top: 77px;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skin.lutou {
    height: 582px;
    top: 40px;
    background-position-x: center;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skinbox:hover .jyqxz_juese_skin {
    box-shadow: 0 0 42px 7px #bbff17;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skinborder {
    width: 100%;
    height: 100%;
    background-image: url(../juese_DaYuHaiTang/jy_skinborder.png);
    position: absolute;
    left: 0;
    top: 0;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juese_scroll {
    -ms-overflow-style: none;
    overflow: scroll !important;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_infodiv .jyqxz_juese_scroll::-webkit-scrollbar {
    width: 0 !important
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_videos_leftbtn {
    width: 200px;
    height: 200px;
    position: absolute;
    background-image: url(../juese_DaYuHaiTang/jy_video_left.png);
    top: 510px;
    display: block;
    left: -88px;
    cursor: pointer;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_videos_leftbtn:hover {
    background-image: url(../juese_DaYuHaiTang/jy_video_left_click.png);
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_videos_rightbtn {
    cursor: pointer;
    width: 200px;
    height: 200px;
    position: absolute;
    background-image: url(../juese_DaYuHaiTang/jy_video_right.png);
    top: 510px;
    display: block;
    right: -88px;
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_videos_rightbtn:hover {
    background-image: url(../juese_DaYuHaiTang/jy_video_right_click.png);
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_videos {
    background-image: url(../juese_DaYuHaiTang/jy_videobox.png);
}
.juese_CSS_DaYuHaiTang .jyqxz_juese_skinborder.videos {
    background-image: url(../juese_DaYuHaiTang/jy_videoborder.png);
}