@font-face {
    font-family: biaokaiti;
    src: url(../../font/font_biaokaiti.woff2);
}
@font-face {
    font-family: fangsong;
    src: url(../../font/font_zihun36fangsong.woff2);
}
@font-face {
    font-family: fzlier;
    src: url(../../font/font_fzlier.woff2);
}
@font-face {
    font-family: zhuangjia;
    src: url(../../font/font_zhuangjia.woff2);
}
@font-face {
    font-family: fzlb;
    src: url(../../font/font_fzlb.woff2);
}
@font-face {
    font-family: fzboy;
    src: url(../../font/font_fzboyasong.woff2);
}
@font-face {
    font-family: momo;
    src: url(../../font/font_momolaowushouji.woff2);
}
@keyframes chuifu {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes chuifu1 {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
html,
body {
    width: 100%;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv div {
    display: block;
    position: static;
}
.juese_CSS_ShouSha .jyqxz_juese_layerping {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.842);
    top: 0;
    left: 0;
    background-size: cover;
}
.juese_CSS_ShouSha .leftbg {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transform-origin: left bottom;
    transform: translateX(-50%);
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv {
    /* width:2560px;
  height:1440px;
  background-size:cover;
  position:absolute;
  left:0;
  top:0;
  transform-origin: 0 0;
  overflow: hidden;
  display:block; */
    width: 2560px;
    height: 1440px;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 0 0;
    /* overflow-y: hidden; */
    display: block;
    transform-origin: center;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv_backbtn {
    position: absolute;
    width: 400px;
    height: 328px;
    cursor: pointer;
    right: 0px;
    top: 0;
    z-index: 15;
    background: url(../juese_ShouSha/jy_back.png);
    background-size: cover;
    transform-origin: right top;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv_backbtn:hover {
    background-image: url(../juese_ShouSha/jy_back_click.png);
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_jueseshadowdiv {
    width: 915px;
    height: 5px;
    margin-left: 50px;
    margin-top: 72px;
    z-index: -2;
    box-shadow: 0 0 15px #000000;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesediv {
    width: 1133px;
    height: 1410px;
    position: absolute;
    bottom: 0;
    left: 50px;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_guajiandiv {
    position: absolute;
    width: 808px;
    background-image: url(../juese_ShouSha/jy_guajian.png);
    height: 100px;
    bottom: 0px;
    right: -1500px;
    z-index: 6;
    background-size: cover;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juesebgdiv {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: -80px;
    z-index: 1;
    background-image: url(../juese_ShouSha/group_jy_ming.png);
    background-size: cover;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juesebgdiv1 {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-size: cover;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juesedivimg {
    height: 1265px;
    top: 72px;
    /*+20PX*/
    left: 61px;
    width: 900px;
    position: absolute;
    /* background-image:url(../juese_ShouSha/yttl_xinran.jpg); */
    background-size: cover;
    z-index: 0;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juesedivimg.lutou {
    background-position-x: center;
    height: 1350px;
    top: -20px;
    /*+20PX*/
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_level {
    position: absolute;
    top: 0px;
    right: 120px;
    transform-origin: top center;
    /*
  animation: chuifu1 3s linear 1s infinite alternate;
  -webkit-animation: chuifu1 3s linear 1s infinite alternate;
  */
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_designinfo {
    writing-mode: vertical-lr;
    color: #fff;
    font-family: fzboy;
    font-size: 34px;
    position: absolute;
    top: 980px;
    letter-spacing: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 300px;
    overflow: hidden;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_designinfo:nth-child(1) {
    left: 862px;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_designinfo:nth-child(2) {
    left: 772px;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_designinfo:nth-child(3) {
    left: 682px;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_designinfo:nth-child(4) {
    left: 592px;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_heroname {
    writing-mode: vertical-lr;
    color: #f1e3b4;
    /* border: 1px solid; */
    font-family: fzlb;
    font-size: 65px;
    position: absolute;
    top: 320px;
    left: -12px;
    letter-spacing: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 600px;
    overflow: hidden;
    /*text-shadow: -4px 0 black, 0 1px black, 1px 0 black, 0 -4px black;*/
    /* font-weight: bold;*/
    text-align: top;
    /* text-align: justify;
    text-align-last: justify; */
    text-shadow: 1px 1px 8px #000000, 1px 1px 8px #000000, 1px 1px 8px #000000;
    /* text-shadow: 2px 2px 10px rgb(46, 25, 1);*/
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesediv .jyqxz_juese_blood {
    display: block;
    width: 67px;
    position: absolute;
    bottom: 120px;
    left: -12px;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesecont {
    width: 1389px;
    height: 1186px;
    position: absolute;
    top: 66px;
    left: 1066px;
    background-image: url(../juese_ShouSha/jy_introbox.png);
    background-size: cover;
    box-sizing: border-box;
    /*padding:80px 120px;*/
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 125px;
    padding-bottom: 37px;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesecont .jyqxz_juesecont_itemdiv {
    display: none;
    width: 100%;
    height: 100%;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juesecont .jyqxz_juesecont_itemdiv.active {
    display: block;
}
.juese_CSS_ShouSha .jyqxz_juese_skillname {
    /* float: left;
  width: 372px;
  height: 127px;
  letter-spacing: 12px;
  line-height: 127px;
  text-align: center;
  background-image: url(../juese_ShouSha/jy_skillbutton.png);
  font-family: fzlb;
  font-size: 54px;
  font-weight: bold;
  color: #784108;
  box-sizing: border-box;
  padding-left: 10px;
  background-size: cover;
    text-shadow: none; */
    float: left;
    /* width: 372px; */
    min-width: 372px;
    box-sizing: border-box;
    padding: 36px 40px;
    /* height: 127px; */
    letter-spacing: 12px;
    max-width: 900px;
    /* line-height: 119px; */
    /* min-height: 127px; */
    text-align: center;
    background-image: url(../juese_ShouSha/jy_skillbutton.png);
    font-family: fzlier;
    font-size: 66px;
    /*font-weight: bold;*/
    letter-spacing: 10px;
    color: #eacf81;
    /*适配手杀版*/
    box-sizing: border-box;
    /* padding-left: 10px; */
    background-size: 100% 100%;
    text-shadow: none;
    text-shadow: 1px 1px 15px #1b0f00, 1px 1px 15px #1b0f00, 1px 1px 15px #1b0f00;
    /*适配手杀版*/
    text-justify: inter-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
.juese_CSS_ShouSha .jyqxz_juese_taiciname {
    float: left;
    width: 372px;
    height: 127px;
    letter-spacing: 12px;
    line-height: 119px;
    text-align: center;
    background-image: url(../juese_ShouSha/jy_taicibutton.png);
    background-size: cover;
    font-family: fzlier;
    font-size: 65px;
    /*font-weight: bold;*/
    color: #f5d796;
    box-sizing: border-box;
    padding-left: 10px;
    text-shadow: none;
}
.juese_CSS_ShouSha .jyqxz_juese_skill {
    overflow: hidden;
    padding: 10px 0;
}
.juese_CSS_ShouSha .jyqxz_juese_skillaudio {
    float: right;
    width: 169px;
    height: 127px;
    background-image: url(../juese_ShouSha/jy_audiobutton.png);
    background-size: cover;
}
.juese_CSS_ShouSha .jyqxz_juese_skillaudio:hover {
    background-image: url(../juese_ShouSha/jy_audiobutton_click.png);
}
.juese_CSS_ShouSha .jyqxz_juese_skillcont {
    clear: both;
    padding: 10px;
    padding-right: 10px;
    text-indent: 2em;
    line-height: 1.3;
    font-family: fzlb;
    font-size: 56px;
    color: #eadab0;
    /*适配手杀版*/
    text-shadow: none;
    text-align: justify;
    /*text-justify: inter-word;*/
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
/*觉醒技技能描述属性*/
.juese_CSS_ShouSha .jyqxz_juese_skillcont p {
    clear: both;
    padding: 10px;
    padding-right: 10px;
    text-indent: 2em;
    line-height: 1.3;
    font-family: fzlb;
    font-size: 56px;
    color: #baa88c;
    text-shadow: none;
    text-align: justify;
    /*text-justify: inter-word;*/
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
.juese_CSS_ShouSha .jyqxz_juese_skilltaici {
    clear: both;
    padding: 10px;
    padding-right: 10px;
    line-height: 1.3;
    font-family: fzlb;
    font-size: 56px;
    color: #f5d796;
    text-shadow: none;
    text-align: justify;
    /*text-justify: inter-word;*/
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
.juese_CSS_ShouSha .gonglue {
    clear: both;
    padding: 10px;
    padding-right: 10px;
    line-height: 1.3;
    font-family: fzlb;
    font-size: 50px;
    color: #f5d796;
    text-shadow: none;
    text-align: justify;
    /*text-justify: inter-word;*/
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
.juese_CSS_ShouSha .gushi {
    clear: both;
    padding: 10px;
    padding-right: 10px;
    line-height: 1.3;
    font-family: fzlb;
    font-size: 50px;
    color: #f5d796;
    text-shadow: none;
    text-align: justify;
    /*text-justify: inter-word;*/
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
.juese_CSS_ShouSha .jyqxz_juese_right_navsp {
    transform-origin: right top;
    transform: scale(0.36875);
    position: absolute;
    right: 0;
    top: 0;
}
.juese_CSS_ShouSha .jyqxz_juese_right_navs {
    position: absolute;
    right: -120px;
    top: 0;
    width: 350px;
    /*适配手杀版*/
    height: 100%;
    box-sizing: border-box;
    padding-top: 350px;
    transform-origin: top center;
    /*animation: chuifu 3s linear 1s infinite alternate; */
    /*适配手杀版*/
    /* -webkit-animation: chuifu 3s linear 1s infinite alternate;*/
    /*适配手杀版*/
}
.juese_CSS_ShouSha .jyqxz_juese_right_nav_item {
    position: relative;
    cursor: pointer;
    display: block;
}
.juese_CSS_ShouSha .jyqxz_juese_right_nav_item_footer {
    position: relative;
    display: block;
    left: 34px;
}
.juese_CSS_ShouSha .jyqxz_right_nav_bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    transform-origin: right top;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juese_btns {
    display: block;
    position: absolute;
    width: 1240px;
    bottom: 10px;
    left: 1108px;
    text-align: center;
    font-size: 0;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juese_btns .jyqxz_juese_btn {
    display: inline-block;
    cursor: pointer;
}
.jyqxz_juese_skins_div {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.801);
}
.juese_CSS_ShouSha .jyqxz_juese_skins {
    width: 2421px;
    height: 1122px;
    background-image: url(../juese_ShouSha/jy_skinbox.png);
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 4;
    transform-origin: center center;
}
.juese_CSS_ShouSha .jyqxz_juese_skin_leftbtn {
    display: block;
    width: 154px;
    height: 169px;
    position: absolute;
    background-image: url(../juese_ShouSha/jy_left.png);
    top: 510px;
    left: 128px;
}
.juese_CSS_ShouSha .jyqxz_juese_skin_leftbtn:hover {
    background-image: url(../juese_ShouSha/jy_left_click.png);
}
.juese_CSS_ShouSha .jyqxz_juese_skin_rightbtn {
    display: block;
    width: 154px;
    height: 169px;
    position: absolute;
    background-image: url(../juese_ShouSha/jy_right.png);
    top: 510px;
    right: 108px;
}
.juese_CSS_ShouSha .jyqxz_juese_skin_rightbtn:hover {
    background-image: url(../juese_ShouSha/jy_right_click.png);
}
.juese_CSS_ShouSha .jyqxz_juese_skins_showbox {
    position: absolute;
    top: 238px;
    left: 270px;
    width: 1896px;
    height: 733px;
    display: block;
    overflow-x: scroll;
}
.juese_CSS_ShouSha .jyqxz_juese_skinsbox {
    position: relative;
    display: block;
    /* left:0;
  top:0;
  transition: left 1s; */
}
.juese_CSS_ShouSha .jyqxz_juese_skinbox {
    width: 474px;
    height: 733px;
    float: left;
    overflow: hidden;
    position: relative;
}
.juese_CSS_ShouSha .jyqxz_juese_skin {
    width: 405px;
    height: 545px;
    background-size: cover;
    display: block;
    position: relative;
    left: 37px;
    top: 77px;
}
.juese_CSS_ShouSha .jyqxz_juese_skin.lutou {
    height: 582px;
    top: 40px;
    background-position-x: center;
}
.juese_CSS_ShouSha .jyqxz_juese_skinbox:hover .jyqxz_juese_skin {
    box-shadow: 0 0 42px 7px #bbff17;
}
.juese_CSS_ShouSha .jyqxz_juese_skinborder {
    width: 100%;
    height: 100%;
    background-image: url(../juese_ShouSha/jy_skinborder.png);
    position: absolute;
    left: 0;
    top: 0;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juese_scroll {
    -ms-overflow-style: none;
    overflow: scroll !important;
}
.juese_CSS_ShouSha .jyqxz_juese_infodiv .jyqxz_juese_scroll::-webkit-scrollbar {
    width: 0 !important
}
.juese_CSS_ShouSha .jyqxz_juese_videos_leftbtn {
    width: 200px;
    height: 200px;
    position: absolute;
    background-image: url(../juese_ShouSha/jy_video_left.png);
    top: 510px;
    display: block;
    left: -88px;
    cursor: pointer;
}
.juese_CSS_ShouSha .jyqxz_juese_videos_leftbtn:hover {
    background-image: url(../juese_ShouSha/jy_video_left_click.png);
}
.juese_CSS_ShouSha .jyqxz_juese_videos_rightbtn {
    cursor: pointer;
    width: 200px;
    height: 200px;
    position: absolute;
    background-image: url(../juese_ShouSha/jy_video_right.png);
    top: 510px;
    display: block;
    right: -88px;
}
.juese_CSS_ShouSha .jyqxz_juese_videos_rightbtn:hover {
    background-image: url(../juese_ShouSha/jy_video_right_click.png);
}
.juese_CSS_ShouSha .jyqxz_juese_videos {
    background-image: url(../juese_ShouSha/jy_videobox.png);
}
.juese_CSS_ShouSha .jyqxz_juese_skinborder.videos {
    background-image: url(../juese_ShouSha/jy_videoborder.png);
}